<!DOCTYPE html>
<html>
    <head>
        <style>
        body {
            text-align: center;
        }
        </style>
        <title>FactCheck</title>
    </head>
    <h1>FactCheck</h1>
    <body>
        <form method="POST">
            <select name="topic">
                <option value="art">Art</option>
                <option value="biology">Biology</option>
                <option value="business">Business</option>
                <option value="chemistry">Chemistry</option>
                <option value="computer science">Computer science</option>
                <option value="economics">Economics</option>
                <option value="engineering">Engineering</option>
                <option value="environmental science">Environmental science</option>
                <option value="geography">Geography</option>
                <option value="geology">Geology</option>
                <option value="history">History</option>
                <option value="materials science">Materials science</option>
                <option value="mathematics">Mathematics</option>
                <option value="medicine">Medicine</option>
                <option value="philosophy">Philosophy</option>
                <option value="physics">Physics</option>
                <option value="political science">Political science</option>
                <option value="psychology">Psychology</option>
                <option value="sociology">Sociology</option>
            </select>
            <br>
            <br>
            <input type="text" name="query">
            <input type="submit" value="Search">
        </form>
    </body>
</html>