<!DOCTYPE html>
<html>
    <head>
        <style>
        body {
            text-align: center;
        }
        </style>
        <title>FactCheck</title>
    </head>
    <h1>FactCheck</h1>
    <body>
        <form method="POST">
            <select name="topic">
                {% for f in fields %}
                <option>{{ f }}</option>
                {% endfor %}
            </select>
            <select name="subtopic">
                <option value="" disabled selected>---</option>
            </select>
            <select name="subsubtopic">
                <option value="" disabled selected>---</option>
            </select>
            <br>
            <br>
            <input type="text" name="query">
            <input type="submit" value="Search">
        </form>
    </body>
</html>